<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProductName</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="/src/rog-strix.png" alt="ROG Strix">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="products" href="#">Products</a>
                <a class="ROG" href="#">ROG</a>
                <a class="Service" href="#">Service</a>
            </div>
            <div class="cont-nonav" id="cont-nonav">
                <div class="nonav">
                    <div class="buscador">
                        <input type="text" class="search" name="search" id="" placeholder="Search...">
                        <a class="recuadro-lupa" href="#">
                            <img class="icon-lupa" src="/src/lupa.png" alt="">
                        </a>

                    </div>
                    <a class="tienda" href="#">
                        <img src="/src/shopping-card.png" alt="" class="shopping-card">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <section class="route">
        <p>Homepage•Name_Product</p>
    </section>

    <section class="product">
        <div class="resume">
            <div class="cont-photo-product">
                <img class="photo-product" src="img/lista/ROG-strix-GTX1060-6gb.png" alt="">
            </div>

            <!-- <div class="description">
                <h1 class="name-product">
                    ROG STRIX GTX 1060 - 6Gb
                </h1>
                <h2 class="ref-product">SKU003KJU
                </h2>
                <h3 class="price-individual">
                    $ Precio del producto
                </h3>

                <p class="description-resume">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem rem veniam deserunt, consequatur recusandae aut vero
                    quis molestias saepe, sit ex quas velit voluptates hic cupiditate iusto? Illo, obcaecati itaque. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur laborum non, velit alias pariatur
                    laboriosam ullam deleniti, qui atque quas repellat impedit architecto dolore ea! Mollitia dolore autem
                    animi?
                </p>
                <button class="addToCart">
                    Add To Cart
                </button>
            </div> -->

            <div class="list-products">
                <div class="mostrar">
                    <div class="tarjeta" data-id="{{this._id}}">
                            <div class="imagen" style="background-image: url(/{{tarjetica.image}});"></div>
                            <div class="descri">
                                <p class="nameDesc">
                                    {{tarjetica.name}}
                                </p>
                                <p class="vidMem">
                                    <span>Video Memory:</span> {{tarjetica.memory}}
                                </p>
                                <p class="gpuDesc">
                                    <span>GPU:</span> {{tarjetica.gpu}}
                                </p>
                                <p class="priceDesc">
                                    ${{tarjetica.price}}
                                </p>

                            </div>
                            <div class="boton" align="center">
                                <a href="">
                                    <button class="add">Add To Cart</button>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>


        <!--
            <div class="cont-specifications">
            <h1 class="specificationsTitle">Specifications</h1>
            <h2 class="technicalDetails">Technical Details
            </h2>
            <div class="table-specifications">

            </div>
        </div>
         -->
        <div class="divide-warranty"></div>
        <div class="warranty">

            <h1 class="warranty-support">Warranty & Support</h1>
            <p class="warranty-description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem
                ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </section>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/headroom.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>